/* sezione jumbotron */
.my-jumbotron {
    background-image: url(img/bg-banner-home.jpg);
}

.inline-block {
    display: inline-block;
}

.v-al-m {
    vertical-align: middle;
}

.float-r {
    float: right;
}

.float-l {
    float: left;
}

.mw-20 {
    max-width: 20px;
}

.aziende-varie, .carousel {
    background-color: #f3f5f9;
}

.col-sm-offset-1.col-sm-3 .list-group .list-group-item {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.min-h {
    min-height: 160px;
}

.carousel-size {
    max-width: 600px
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    border: #006aff 1px solid;
  }

  .blue {
      background-color: #006aff;
  }

  